footer{
    display: flex;
    background-color: map-get($colores , navFoot );
    height: 8rem;
    align-items: center;
    div{
        width: 40%;
    }
    .marca{
        color: $colorFuente;
        font-family: $tipoFuente;
        font-weight: 900;
        margin-left: 1.25rem;
    }
    .logoS{
        display: flex;
        color: $colorFuente;
        gap: 2.4375rem;
        justify-content: center;
    }
    
    .derechos{
        display: flex;
        color: map-get($colores, derechos );
        justify-content: flex-end;
        font-family: $tipoFuente;
    }
    
    .derechos p{
        margin-right: 1.25rem;
    }
}