header {
    display: flex;
    height: 12rem;
    width: 100%;
    background-color: map-get($colores, navFoot );
    div{
        width: 70%;
        margin: 1.25rem 1.25rem 0 0;
        img{
            border-radius: 50% 50%;
            margin-left: 1.25rem;
        }
    }
    ul{
        display: flex;
        gap: 1.4375rem;
        margin-right: 4.5rem;
        margin-top: 2.25rem;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: $colorFuente;
                font-family: $tipoFuente;
                font-weight: 400;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}