.pagNosotros{
    background-color: map-get($colores , fondo );
    display: flex;
    height: 70vh;
    section{
        display: flex;
        background-color: map-get($colores, fondo2 );
        margin: 3.125rem;
        height: 40vh;
        padding: 1.875rem;
        gap: 2.5rem;
        align-items: center;
        p{
            text-align: center;
            color: $colorFuente;
            font-family: $tipoFuente;
            font-weight: 500;
        }
    }
}