/* Header */
@media (max-width: 320px){
    header {
            flex-direction: column;
            align-items: center;
            height: 21.875rem;
        div{
            img{
                width: 60px;
                height: 60px;
            }
        }
        ul{
            flex-direction: column;
            align-items: center;
            li{
                a{
                    font-size: 10px;
                }
            }
        }
    }
}

/* Index */

@media (max-width: 320px){
    .pagPrincipal{
        h1{
        font-size: 1.25rem;
        }
        section{
            height: 27rem;
            p{
                font-size: .625rem;
            }
        }
        #carouselExampleIndicators{
            height: 9.375rem;
        }
    }
}

/* PROGRESO */
@media (max-width: 320px) {
    .pagProgreso{
        section{
            justify-content: center;
            align-items: center;
            margin: 2.5rem;
            iframe{
                max-width: 60%;
                max-height: 35%;
            }
        }
    }
}


/* FAQ */

@media (max-width: 425px){
    .pagFaq{
        section{
            height: 50vh;
        }
        .textos{
            margin: 1.25rem;
            height: auto;
            width: 125px;
            font-size: .625rem;
        }
    }
}


/* PELICULA */

@media (max-width: 320px) {
    .pagPelicula{
        section{
            iframe{
                max-width: 60%;
                max-height: 35%;
            }
        }
    }
}


/* Footer */

@media (max-width: 320px){
    .logoS{
        gap: .3125rem;
    }

    .logoS img{
        width: 15px;
        height: 15px;
    }

    .marca{
        font-size: 9px;
        font-weight: 800;
    }

    .derechos p{
        font-size: 7px;
    }
}